/* Pomodoro */


html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
:root {
    --pomodoro: hsl(0, 65%, 62%);
    --shortBreak: hsl(133, 45%, 54%);
}

body {
    background-color: var(--pomodoro);
    transition: background-color 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.timer {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    user-select: none;

}

.clock {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 5rem;
    line-height: 1;
    display: flex;
    align-items: center;
    font-family: arial, sans-serif;
}
  
.mode-button {
    font-size: 16px;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #fff;
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    background: none;
    line-height: 0%;
}

.mode-button.active {
    border-color: #fff;
}
  
.main-button {
    cursor: pointer;
    box-shadow: rgb(185, 185, 185) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    text-transform: uppercase;
    color: hsl(0, 0%, 21%);
    font-weight: bold;
    width: 200px;
    background-color: white;
    border-width: initial;
    border-style: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    transition: color 0.5s ease-in-out 0s;
}
  
button:focus, button:active {
    outline: none;
}
  
.main-button.active {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
}

@media screen and (max-width: 550px) {
    .clock {
        font-size: 8rem;
    }
}

/* Spotify */

#tokenSection{
    display: none;
}

#deviceSection{
    display: none;
}

.container{
    padding: 20px;    
    max-width: 600px;
}

#albumImage{
    width: 250px;
    float: left;
    margin: 20px;
}

#trackTitle{
    font-size:1.5em;
}

#trackArtist{
    font-size:1em;
}

.welcomeText{
    font-size:1em;
}

/* Glue css */

h2 {
    color: white;
}

.hidden{
    visibility: hidden;
}

#tokenSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: hsl(0, 65%, 62%);
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}